<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245008050907-iiu40acl4l0t1u30ck6of0u1lsl96m8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245008050907-iiu40acl4l0t1u30ck6of0u1lsl96m8l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>245008050907-tq6l147ip6blcahrgq7a2nbag3jgasb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfwj5rWZ6TKis8cGmSiENdKpjhImIohek</string>
	<key>GCM_SENDER_ID</key>
	<string>245008050907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixieapp</string>
	<key>PROJECT_ID</key>
	<string>pixie-38007</string>
	<key>STORAGE_BUCKET</key>
	<string>pixie-38007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245008050907:ios:1d635e7b0456c74f7abafe</string>
</dict>
</plist>